:root{
    --color-set-one-1: #138f82!important;
    --color-set-one-2: #213438!important;
    --color-set-one-5: #213438!important;
    --preloader-background-color-2: #213438!important;
    --preloader-background-color: #2D947A!important;
}