:root{
    --color-set-one-1: #f86403!important;
    --color-set-one-1: #d65501!important;
    --preloader-text-color: #F86403!important;
    --preloader-background-color-2: #00868C!important;
    --preloader-background-color: #FFFFFF!important;
}